* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body,
.container,
.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    padding: 0 10px;
    min-height: 100vh;
    background: linear-gradient(90deg, rgba(124, 13, 110, 1) 0%, rgba(4, 27, 124, 1) 35%, rgba(255, 0, 52, 1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.container {
    width: 440px;
    padding: 30px 30px 38px;
    border: 2px solid white;
    background-position: center;
    background-size: cover;
    border-radius: 1rem;
    margin-bottom: 200px;
    flex-direction: column;
    box-shadow: 0 3px 21px rgb(180 174 174);

}

h1,
h2 {
    color: white;
}

.container img {
    max-width: 250px;
}

.container h1 {
    font-size: 38px;
    font-weight: 600;
    margin: 20px;
}

.container .content {
    width: 100%;
    justify-content: space-between;
}

.container .content .disable {
    opacity: 0.6;
    pointer-events: none;
}

.content .disable {
    cursor: no-drop;
}

.content .column {
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid black;
    width: calc(100%/3 -5px);
    margin: 10px;
}

.content .disable .column {
    opacity: 0.4;
    pointer-events: none;
}

.column select {
    width: 100%;
    height: 53px;
    border: none;
    outline: none;
    background: none;
    font-size: 19px;
    color: white;

}

.column option {
    background: black;
    color: white;
    height: 200px;
}

.container button {
    width: 100%;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    padding: 17px 0;
    margin-top: 25px;
    border-radius: 1rem;
    background: black;
}

button:hover {
    transform: scale(0.9);
    transition: 0.1s;
    border: 1px solid orangered;
}